:root {
    --primary-color: #333333;

    --primary-bg-color: #fff;

    --bg-color-blog-section: #0284D0;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.56;
    /* or 156% */
    color: var(--primary-color);

    background-color: var(--primary-bg-color);
}

.list{
    list-style: none;
}

/* busines-cases*/
.busines-cases {
    text-align: center;
}

.busines-cases-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.65;
}

.busines-cases-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
}

/*blog-post-one-section*/
.blog-post-one{
    margin: 0;
    padding: 0;
    display: flex;
}
.blog-post{
    margin: 0;
    background-color:var(--bg-color-blog-section);
    color: var(--primary-bg-color);
    /* height: 517px; */
}
.time{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    margin-top: 112px;
    padding-left: 30px;
}
.section-name{
    margin: 0;
    font-size: 38px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 30px;
}
.text{
    font-size: 18px;
    font-weight: 400;
    margin-top: 26px;
    margin-bottom: 28px;
    padding-left: 30px;
}

.link{
    color: var(--primary-bg-color);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 17px;
    padding: 11px 31px 10px 42px;
    border: 1px solid white;
    border-radius: 5px;
}

/* our team  */

.section-text{
    font-size: 20px;
    line-height: 1.65;  
    text-align: center;
}

.section-descr{
    text-align: center;
}

.section-title{
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    text-align: center;
}


.team-title{
    font-size: 25px;
    line-height: 1.28;
    text-align: center;
}

.team-descr{
    text-align: center;
}
